body {
  background-color: #FFF4F9;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

header {
  background-image:url('../images/pembe.png');
  background-position: center;
  background-size: 100% 100%;
  height: 350px;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.about {
  height: 120px;
  background-repeat: no-repeat;
  text-align: left;
  margin-top: 5px;
  padding-left:50px;
  margin-bottom: 50px;
}

nav{
  background-color: #C07D9D;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #C07D9D;
  padding: 20px 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 60px;
}

.nav-links li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a:hover {
  opacity: 0.8;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.arrow {
    font-size: 12px;
}

.get-started{
  background-color: #A86887;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.get-started:hover{
  background-color: #A46382;
  transform: scale(1.05);
}

.gear-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.gear-icon:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 72px;
  padding: 15px;
  color: #000
}

h2 {
  font-size: 56px;
  padding: 15px;
  color: #000;
  text-align: center;
}

.login{
  background-color: #A86887;
  list-style: none;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.login a {
  color: white;
  text-decoration: none;
}

.login:hover{
  background-color: #A46382;
  transform: scale(1.05);
}

h4 {
  font-size: 20px;
  padding: 15px;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}

h3 {
  font-size: 32px;
  padding: 15px;
  color: #000;
  font-weight: 250;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 800px;
}

.left {
  width: 150px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C07D9D;
  padding: 30px 60px;
}

.footer-left {
  flex-direction: column;
  display: flex;
  list-style: none;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.footer-middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style:none;
  gap: 12px;
  margin: 0 0 0 -70px;
  padding: 0;
}

.footer-left li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer-middle li {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.footer-left a:hover {
  opacity: 0.8;
}

.footer-left a {
  color: white;
  text-decoration: none;
}

.footer-right img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.pane-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;            
  width: fit-content;
  margin: 50px;
  margin-bottom:80px;
}

.pane {
  width: 170px;
  height: 205px;
  margin: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.2s ease;
  background: radial-gradient(circle at center, #ffffff 0%, #E1B6CB 70%);

  display: flex;
  align-items: center;     
  justify-content: center;  
  text-align: center;       
  font-size: 36px;

}

.pane a{
  color:#000;
  text-decoration: none;
}
.pane:nth-child(1) { transform: rotate(-18.96deg)  translateY(100px); }
.pane:nth-child(2) { transform: rotate(-9.17deg) translateY(10px); }
.pane:nth-child(3) { transform: rotate(0deg) translateY(-5px);  }  
.pane:nth-child(4) { transform: rotate(9.17deg) translateY(10px); }
.pane:nth-child(5) { transform: rotate(18.96deg) translateY(100px); }

.pane:hover{
  transform: scale(1.25);
}

.home-features {
  display: flex;
  align-items: center;
  background-color: #F4E1EA;
  gap: 20px;
  background-color: #f6dce8;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 20px 40px;
  margin-top: 40px;
  margin-bottom: 150px;
}

.home-features-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.home-features-right button{
  background-color: #A86887;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.home-features-right button a{
  text-decoration: none;
  color:#ffffff;
}

.home-features-right button:hover{
  background-color: #A46382;
  transform: scale(1.05);
}

.home-features-left {
  order:-1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.home-features-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features h2{
  text-align: left;
}

.persn-conn {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f6dce8;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 20px 40px;
  transition: all 0.2s ease;
  margin-bottom: 30px;

}

.persn-conn:hover{
    transform: scale(1.05);
    border: 1px solid rgba(179, 96, 137, 0.8);
    box-shadow: 0 0 20px rgba(174, 111, 143, 0.6);
}

.persn-conn-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.persn-conn-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.persn-conn-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.chat{
  background-color: rgb(234, 177, 206);
  display: flex;
  align-items: center;
  gap: 20px; /*padding between kids*/
  margin: 20px 40px;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  margin-bottom: 150px;

}

.chat-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.chat-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.chat-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.chat:hover{
  transform: scale(1.05);
  border: 1px solid rgba(179, 96, 167, 0.8);
  box-shadow: 0 0 20px rgba(174, 111, 143, 0.6);
}

.blog{
  background-color: rgb(203, 168, 208);
  display: flex;
  align-items: center;
  gap: 20px; /*padding between kids*/
  margin: 20px 40px;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  margin-bottom: 30px;

}

.blog-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.blog-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.blog-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.blog:hover{
  transform: scale(1.05);
  border: 1px solid rgba(179, 96, 176, 0.8);
  box-shadow: 0 0 20px rgba(128, 82, 128, 0.6);
}

.connect-button {
  background-color: #A86887;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 30px auto 0;
  width: 250px;
}

.connect-button a{
  color: white;
  text-decoration: none;
}
.connect-button:hover{
  background-color: #A46382;
  transform: scale(1.15);
}

.aboutus {
  display: flex;
  align-items: center;
  background-color: #F4E1EA;
  gap: 20px;
  background-color: #f6dce8;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 20px 40px;
}

.aboutus-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.aboutus-left {
  order:-1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  overflow: hidden;
}

.aboutus-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contactus{
  padding-left:50px;
  margin-bottom: 100px;
}
