body {
background-color: #FFF4F9;
color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

header {
  height: 120px;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 5px;
}

nav{
  background-color: #C07D9D;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #C07D9D;
  padding: 20px 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 60px;
}

.nav-links li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a:hover {
  opacity: 0.8;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.arrow {
  font-size: 12px;
}

.get-started{
  background-color: #A86887;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.get-started:hover{
  background-color: #A46382;
  transform: scale(1.05);
}

.gear-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.gear-icon:hover {
  transform: scale(1.05);
}



h1 {
  font-size: 72px;
  padding: 15px;
  color: #000;
  text-align:left;
}

h2 {
  font-size: 32px;
  padding: 15px;
  color: #000;
  font-weight: 250;
  margin-top: -50px;
}

.aboutus {
  display: flex;
  align-items: center;
  background-color: #F4E1EA;
  gap: 20px;
  background-color: #f6dce8;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 20px 40px;
}

.aboutus-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.aboutus-left {
  order:-1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.aboutus-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactus{
  padding-left:50px;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C07D9D;
  padding: 30px 60px;
}

.footer-left {
  flex-direction: column;
  display: flex;
  list-style: none;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.footer-middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style:none;
  gap: 12px;
  margin: 0 0 0 -70px;
  padding: 0;
}

.footer-left li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer-middle li {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.footer-left a:hover {
  opacity: 0.8;
}

.footer-left a {
  color: white;
  text-decoration: none;
}

.footer-right img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}