body {
background-color: #FFF4F9;
color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

header {
  height: 120px;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 5px;
}

nav{
  background-color: #C07D9D;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #C07D9D;
  padding: 20px 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 60px;
}

.nav-links li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a:hover {
  opacity: 0.8;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.arrow {
    font-size: 12px;
}

.get-started{
  background-color: #A86887;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.get-started:hover{
    background-color: #A46382;
    transform: scale(1.05);
}

.gear-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.gear-icon:hover {
  transform: scale(1.05);
}

.persn-conn {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f6dce8;
  border-radius: 20px;
  padding: 20px 30px;
  min-height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 20px 40px;
  transition: all 0.2s ease;

}

.persn-conn:hover{
    transform: scale(1.05);
    border: 1px solid rgba(179, 96, 137, 0.8);
    box-shadow: 0 0 20px rgba(174, 111, 143, 0.6);
}

.persn-conn-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.persn-conn-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.persn-conn-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.chat{
    background-color: rgb(234, 177, 206);
    display: flex;
    align-items: center;
    gap: 20px; /*padding between kids*/
    margin: 20px 40px;
    border-radius: 20px;
    padding: 20px 30px;
    min-height: 250px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease;

}

.chat-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.chat-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.chat-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.chat:hover{
    transform: scale(1.05);
    border: 1px solid rgba(179, 96, 167, 0.8);
    box-shadow: 0 0 20px rgba(174, 111, 143, 0.6);
}

.blog{
    background-color: rgb(203, 168, 208);
    display: flex;
    align-items: center;
    gap: 20px; /*padding between kids*/
    margin: 20px 40px;
    border-radius: 20px;
    padding: 20px 30px;
    min-height: 250px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease;

}

.blog-right{
  flex:1;
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

.blog-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.blog-left {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}

.blog:hover{
    transform: scale(1.05);
    border: 1px solid rgba(179, 96, 176, 0.8);
    box-shadow: 0 0 20px rgba(128, 82, 128, 0.6);
}

h1 {
  font-size: 72px;
  padding: 15px;
  color: #000;
  text-align:left;
}

.connect-button {
    background-color: #A86887;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 30px auto 0;
    width: 250px;
}

.connect-button a{
    color: white;
    text-decoration: none;
}
.connect-button:hover{
  background-color: #A46382;
  transform: scale(1.15);
}